#products-container {
    width: 500px;
    margin: auto;
}

.product {
    display: flex;
    gap: 15px;
    align-items: center;
}

.product img {
    height: 150px;
    aspect-ratio: 1.5;
}

.product h3 {
    width: 130px;
}

#div {
    display: flex;
    gap: 10px;
    align-items: center;
}

#totals {
    text-align: center;
}
